<html>
<head>
<title>Distributions</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--  Angular  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>

<!-- Google charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script>

google.charts.load("current", {packages:["corechart"]});

var myApp = angular.module("myApp", []);
var scope;


myApp.controller("myCtrl", ($scope) => {
	// Make the scope available outside the controller, which is very useful for
	// debugging
  scope = $scope;

  $scope.distType = "normal"

  // For normal (or uniform)
  $scope.rangeMin = -1;
  $scope.rangeMax = 1;
  $scope.nRandoms = 10;

  // For exponential
  $scope.lambdaParam = 0.5;

  // For bernoulli
  $scope.pParam = 0.5;
  $scope.nExperiment = 20;

  $scope.distValues = 100;

  $scope.mean = "";
  $scope.stdDev = "";

  $scope.genValueNormal = () => {
    var sum = 0;

    for(var i=0; i<$scope.nRandoms; i++)
      sum += Math.random()*($scope.rangeMax-$scope.rangeMin)+$scope.rangeMin;

    return sum;
  };   // $scope.genValueNormal

  $scope.dist = [];

  $scope.genDistNormal = () => {
    for(var i=0; i<$scope.distValues; i++)
          $scope.dist[i] = $scope.genValueNormal();
  };   // $scope.genDistNormal


  $scope.genDistUniform = () => {
    for(var i=0; i<$scope.distValues; i++)
          $scope.dist[i] = Math.random()*($scope.rangeMax-$scope.rangeMin)+$scope.rangeMin;
  };   // $scope.genDistUniform


  $scope.genDistExponential = () => {
    for(var i=0; i<$scope.distValues; i++) {
      $scope.dist[i] = 1;
      while (Math.random() > $scope.lambdaParam)
        $scope.dist[i] ++;
    }
  };  // $scope.genDistExponential


  $scope.genDistBernoulli = () => {
    for(var i=0; i<$scope.distValues; i++) {
      $scope.dist[i] = 0;
      for(var j=0; j<$scope.nExperiment; j++)
        if (Math.random() < $scope.pParam)
          $scope.dist[i]++;
    }
  };  // $scope.genDistBernoulli

  $scope.genDist = () => {
    $scope.dist = [];

    if ($scope.distType == 'normal')
      $scope.genDistNormal();

    if ($scope.distType == 'uniform')
      $scope.genDistUniform();

    if ($scope.distType == 'exponential')
      $scope.genDistExponential();

      if ($scope.distType == 'bernoulli')
        $scope.genDistBernoulli();
  };   // $scope.genDist

  $scope.drawChart = () => {
      var myData = new google.visualization.DataTable();
      myData.addColumn('number');
      myData.addRows($scope.dist.map(v => [v]));

      var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
      chart.draw(myData, {});
//      console.log(chart.getChartLayoutInterface().getXLocation(0));
  };   // $scope.drawChart


  $scope.getMean = data => data.reduce((a,b) => a+b, 0) / data.length;

  $scope.getMedian = data => {
      var sorted = data.sort((a,b) => a-b);
      return sorted[Math.floor(sorted.length/2)];
  };  // $scope.getMedian

  $scope.newDist = () => {
    $scope.genDist();

    $scope.median = $scope.getMedian($scope.dist);
    $scope.mean = $scope.getMean($scope.dist);
    $scope.stdDev = Math.sqrt($scope.getMean($scope.dist.map(x => (x-$scope.mean)*(x-$scope.mean))));

    $scope.drawChart();
  };  // $scope.newDist

});    // myApp.controller

</script>

<body ng-app="myApp" ng-controller="myCtrl">

<h2>Distributions</h2>

<input type="radio" ng-model="distType" value="normal" name="distType"> Normal
<br/>

<input type="radio" ng-model="distType" value="exponential" name="distType"> Exponential
<br/>

<input type="radio" ng-model="distType" value="uniform" name="distType"> Uniform
<br/>

<input type="radio" ng-model="distType" value="bernoulli" name="distType"> Bernoulli
<br/>

<hr/>

<table class="table">
  <tr ng-show="distType == 'normal' || distType == 'uniform'">
    <th>Random number range</th>
    <td><input size="3" type="number" ng-model="rangeMin"/> -
        <input type="number" ng-model="rangeMax"/></td>
  </tr>
  <tr ng-show="distType == 'normal'">
    <th>How many random numbers to add for each value?</th>
    <td><input size="3" type="number" ng-model="nRandoms"/></td>
  </tr>

  <tr ng-show="distType == 'exponential'">
    <th>Lambda</th>
    <td><input size="3" type="number" ng-model="lambdaParam" min="0" max="1"/></td>
  </tr>

  <tr ng-show="distType == 'bernoulli'">
    <th>Probability</th>
    <td><input size="3" type="number" ng-model="pParam" min="0" max="1"/></td>
  </tr>

  <tr ng-show="distType == 'bernoulli'">
    <th>Number of experiments</th>
    <td><input size="3" type="number" ng-model="nExperiment" /></td>
  </tr>

  <tr>
    <th>How many values in the distribution?</th>
    <td><input size="3" type="number" ng-model="distValues"/></td>
  </tr>

  <tr>
    <th>Median of the distribution</th>
    <td>{{median}}</td>
  </tr>

  <tr>
    <th>Mean of the distribution</th>
    <td>{{mean}}</td>
  </tr>

  <tr>
    <th>Standard deviation distribution</th>
    <td>{{stdDev}}</td>
  </tr>

</table>

<hr/>
<button class="btn btn-primary" ng-click="newDist()">Generate Distribution</button>
<hr/>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>
